body {
  background: #111;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#member-image {
  width: 100%;
  height: auto;
}

/* Hide empty image */
#member-image[src=""] {
  display: none;
}

.pokedex {
  width: 1000px;
  height: 600px;
  background: #d62828;
  border-radius: 30px;
  display: flex;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 0 40px black;
}

.left-panel,
.right-panel {
  flex: 1;
  background: #b71c1c;
  border-radius: 20px;
  padding: 20px;
}

.screen {
  background: #9bbc0f;
  border: 8px solid #222;
  border-radius: 10px;

  height: 70%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.screen,
.info-screen {
  background: #9bbc0f;
  border: 8px solid #222;
  border-radius: 10px;
  height: 70%;
  padding: 20px;
}

.screen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.dpad {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
}
