---
layout: default
---

<div class="container">
  <div class="row">
    <!-- Home content with the image -->
    <div id="homeid" class="col-md-8">
      <img src="images/logopic/grouplogo2.png" alt="Group Logo" style="display: block; max-width: 100%; height: auto;">

      <!-- Text section underneath the photo -->
      <div id="text-section" style="margin-top: 20px;" class="col-md-8">
        <p>
<font size="3">  
          We use correlated quantum chemistry methods to compute the electronic structure and spectra of f-element systems, linking theory and experiment.
	</font>
        </p>

      </div>
    </div>


    <!-- News section aligned side-by-side -->
    <div id="newsid" class="col-md-4">
      {% include news.html %}
    </div>
  </div>
</div>

